

/* For the steps to complete a process */

.stepper {
    position: relative;
    padding-left: 40px;
    border-left: 3px solid #dee2e6;
}

.step {
    position: relative;
    margin-bottom: 30px;
}

.step:last-child {
    margin-bottom: 0;
}

.circle {
    position: absolute;
    left: -23px;
    top: 0;
    background: #dee2e6;
    color: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.step.started .circle {
    background-color: #bbe0ce; /*  #0d6efd; Bootstrap primary color */
    color: #fff;
}

.step.active .circle {
    background-color: #90bea9; /*  #0d6efd; Bootstrap primary color */
    color: #fff;
}

.step.completed .circle {
    background-color: #628976; /* Bootstrap success color */
    color: #fff;
}



.content h5 {
    margin-bottom: 5px;
    font-weight: 600;
    text-align: left;
    padding-left: 8%;
}

.content p {
    text-align: left;
    padding-left: 8%;
}

/* End of steps to complete a process */